<% include header.ejs %>
<% include navbar.ejs %>

<div id="container" class="drawer-overlay">
	<header style="height:50px;">
		<a href="/logout" class="logout">logout </a>
	</header>
	<button class="commitGames btn">Load Games</button>
	User ID: <input type="text" class="userId"/>
	<button class="deleteScores btn">Delete Old User Scores</button>
</div>

<script src="drawer/js/drawer.js"></script>

<script>
	$('.drawer').drawer({
		desktopEvent:'click'
	});
	$(".commitGames").click(function() {
		$.post("/commitGames", {}, function(json) {
			console.log(json);
		});
	});
	
	
	$(".deleteScores").click(function() {
		var userId = $(".userId").val();
		$.get("/findAllUserScores", {userId: userId}, function(scores) {
			console.log(scores);
			_.each(scores, function(score){
				console.log(score.id);
				$.post("/deleteOldUserScore", {id: score.id}, function(json) {
					console.log(json);
				});
			});
			
		});
		
	});
</script>