<div id="container" class="drawer-overlay">
	<header>
		<a href="/logout" class="logout">logout </a>
	</header>
	
	<div id="tabs">
		<ul class="nav nav-tabs">
			<li class="active"><a href="#scores" data-toggle="tab">Scores</a></li>
			<% if(user.admin == "true") { %>
				<li><a href="#standings" data-toggle="tab">Standings</a></li>
			<% } %>
		</ul>
		<div class="tab-content">
			<div class="tab-pane active" id="scores"><%- include scores %></div>
			<div class="tab-pane fade" id="standings"><%- include standings %></div>
		</div>
	</div>
</div>

<script src="drawer/js/drawer.js"></script>
<script src="js/index.js"></script>