<header>
	Welcome, <%= user.name %>! 
	<a href="/logout" class="logout">logout </a>
	<% if(user.admin == "true") { %>
		<a href="/admin" class="admin">Admin</a>
	<% } %>
</header>

<div id="tabs">
	<ul>
		<li><a href="#tabs-1">Scores</a></li>
		<li><a href="#tabs-2">Ratings</a></li>
		<li><a href="#tabs-3">Chat</a></li>
	</ul>
	<div id="tabs-1"><%- include scores %></div>
	<div id="tabs-2">Ratings</div>
	<div id="tabs-3">Chat</div>
</div>



<script src="js/index.js"></script>