<% include header.ejs %>

<% if(user) { %>
	<%- include home %>
<% } 

else {%>
	<% 	var message; 
		if(message) { %>
		<div class="error"><%= message %></div>
	<% } %>
	<%- include login %>
<% } %>


</body>
</html>