<link rel="stylesheet" href="css/bracket.css">

<button class="btn btn-lg btn-primary btn-block submitResults playoffGames" type="submit">Commit Playoff Games</button>

<div class="tournament16-wrap">
	<div class="round5-top winner5"><a href="#" class="winner" id="champion">champion</a></div>
	<div class="round4-topwrap">
		<div class="round4-top"><a href="#" class="winner" id="finalOne">winner</a></div>
		<div class="round3-topwrap">
			<div class="round3-top"><a href="#" class="winner" id="semiOne">winner</a></div>
			<div class="round2-topwrap">
				<div class="round2-top"><a href="#" class="winner" id="quaterOne">winner</a></div>
				<div class="round1-top"><a href="#" id="oneA">[1A]</a></div>
				<div class="round1-bottom"><a href="#" id="twoB">[2B]</a></div>
			</div>
			<div class="round2-bottomwrap">
				<div class="round2-bottom"><a href="#" class="winner" id="quarterTwo">winner</a></div>
				<div class="round1-top"><a href="#" id="oneC">[1C]</a></div>
				<div class="round1-bottom"><a href="#" id="twoD">[2D]</a></div>
			</div>
		</div>
		<div class="round3-bottomwrap">
			<div class="round3-bottom"><a href="#" class="winner" id="semiTwo">winner</a></div>
			<div class="round2-topwrap">
				<div class="round2-top"><a href="#" class="winner" id="quarterThree">winner</a></div>
				<div class="round1-top"><a href="#" id="oneE">[1E]</a></div>
				<div class="round1-bottom"><a href="#" id="twoF">[2F]</a></div>
			</div>
			<div class="round2-bottomwrap">
				<div class="round2-bottom"><a href="#" class="winner" id="quarterFour">winner</a></div>
				<div class="round1-top"><a href="#" id="oneG">[1G]</a></div>
				<div class="round1-bottom"><a href="#" id="twoH">[2H]</a></div>
			</div>
		</div>
	</div>
	<div class="round4-bottomwrap">
		<div class="round4-bottom"><a href="#" class="winner" id="finalTwo">winner</a></div>
		<div class="round3-topwrap">
			<div class="round3-top"><a href="#" class="winner" id="semiThree">winner</a></div>
			<div class="round2-topwrap">
				<div class="round2-top"><a href="#" class="winner" id="quarterFive">winner</a></div>
				<div class="round1-top"><a href="#" id="oneB">[1B]</a></div>
				<div class="round1-bottom"><a href="#" id="twoA">[2A]</a></div>
			</div>
			<div class="round2-bottomwrap">
				<div class="round2-bottom"><a href="#" class="winner" id="quarterSix">winner</a></div>
				<div class="round1-top"><a href="#" id="oneD">[1D]</a></div>
				<div class="round1-bottom"><a href="#" id="twoC">[2C]</a></div>
			</div>
		</div>
		<div class="round3-bottomwrap">
			<div class="round3-bottom"><a href="#" class="winner" id="semiFour">winner</a></div>
			<div class="round2-topwrap">
				<div class="round2-top"><a href="#" class="winner" id="quarterSeven">winner</a></div>
				<div class="round1-top"><a href="#" id="oneF">[1F]</a></div>
				<div class="round1-bottom"><a href="#" id="twoE">[2E]</a></div>
			</div>
			<div class="round2-bottomwrap">
				<div class="round2-bottom"><a href="#" class="winner" id="quarterEight">winner</a></div>
				<div class="round1-top"><a href="#" id="oneH">[1H]</a></div>
				<div class="round1-bottom"><a href="#" id="twoG">[2G]</a></div>
			</div>
		</div>
	</div>
</div>