<ol class="breadcrumb">
  <li class="active group-games">Group games</li>
  <li class="playoffs">Playoffs</li>
</ol>

<div class="group-games-content">
	<% include group_games.ejs %>
</div>

<div class="playoffs-content">
	<% include playoffs.ejs %>
</div>