<div class="btn-group standing-view-selection">
  <button type="button" class="btn btn-default perGame active">Group Per Game </button>
  <button type="button" class="btn btn-default perUser">Group Per User</button>
  <button type="button" class="btn btn-default brackets">Brackets</button>
</div>

<div class="allUsers"></div>
<div class="allGames"></div>
<div class="playoffGamesStanding"></div>

<script id="allUsersTemplate" type="text/x-handlebars-template">
	<div class="panel-group" id="groupAccordion">
	{{#users}}
  		<div class="panel panel-default">
    		<div class="panel-heading">
      			<h4 class="panel-title">
        			<a data-toggle="collapse" data-parent="#groupAccordion" href="#collapse{{@index}}">
            			{{username}}
        			</a>
      			</h4>
    		</div>
    		<div id="collapse{{@index}}" class="panel-collapse collapse">
      			<div class="panel-body">
					<table class="users table table-striped table-bordered">
					{{#scores}}
						<tr>
							<td>{{gameTeamOne gameId}}</td>
							<td>{{gameTeamTwo gameId}}</td>
				  			<td>{{teamOne}}</td>
				  			<td>{{teamTwo}}</td>
				  		</tr>
					{{/scores}}
					</table>
				</div>
			</div>
		</div>
	{{/users}}
	</div>
</script>

<script id="allGamesTemplate" type="text/x-handlebars-template">
	<table class="users table table-bordered">
		<tr>
			<th>Name</th>
			<th>Final Total</th>
			{{#games}}
				<th class="{{evenOdd @index}}">{{formatTeam teamOne}}</th>
				<th class="{{evenOdd @index}}">{{formatTeam teamTwo}}</th>
			{{/games}}
		</tr>
		{{#users}}
			<tr>
				<td>{{username}}</td>
				<td>0</td>
				{{#scores}}
					<td class="{{evenOdd @index}}">{{teamOne}}</td>
					<td class="{{evenOdd @index}}">{{teamTwo}}</td>
				{{/scores}}
			</tr>
		{{/users}}
	</table>
</script>

<script id="playoffGamesTemplate" type="text/x-handlebars-template">
	<div class="panel-group" id="playoffAccordion">
    {{#brackets}}
    <div class="panel panel-default">
	<div class="panel-heading">
		<h4 class="panel-title">
			<a data-toggle="collapse" data-parent="#playoffAccordion" href="#collapsePlayoff{{@index}}">
    			{{username}}
			</a>
		</h4>
	</div>
	<div id="collapsePlayoff{{@index}}" class="panel-collapse collapse">
    	<div class="panel-body">
			<table class="table table-bordered">
				<tr>
					<th>Quaterfinals:</th>
					{{#quarterfinals}}
						<td class="{{evenOdd @index}}">{{this}}</td>
					{{/quarterfinals}}
				</tr>
				<tr>
					<th>Semifinals:</th>
					{{#semifinals}}
						<td class="{{evenOdd @index}}">{{this}}</td>
					{{/semifinals}}
				</tr>
				<tr>
					<th>Finals:</th>
					{{#finals}}
						<td class="{{evenOdd @index}}">{{this}}</td>
					{{/finals}}
				</tr>
			</table>
		</div>
	</div>
	</div>
	{{/brackets}}
	</div>
</script>

<script src="js/standings.js"></script>