<script src="//cdnjs.cloudflare.com/ajax/libs/handlebars.js/2.0.0-alpha.4/handlebars.min.js"></script>

<table class="users table table-striped table-bordered">
</table>

<script id="table-template" type="text/x-handlebars-template">
	{{#scores}}
		<tr>
		    <td>{{user.username}}</td>
			<td>{{gameTeamOne gameId}}</td>
			<td>{{gameTeamTwo gameId}}</td>
  			<td>{{teamOne}}</td>
  			<td>{{teamTwo}}</td>
  		</tr>
	{{/scores}}
</script>

<script>
	var source = $("#table-template").html();
	var template = Handlebars.compile(source);
	
	Handlebars.registerHelper('gameTeamOne', function(gameId) {
 		 return _.find(games, function(game){return game.gameId == gameId;}).teamOne;
	});
	
	Handlebars.registerHelper('gameTeamTwo', function(gameId) {
 		 return _.find(games, function(game){return game.gameId == gameId;}).teamTwo;
	});
	
	$.get("/findAllUserScoresNoId", {}, function(scores) {
		var html = template({"scores": scores});
		$(".users").html(html);
	});
</script>