<div class="btn-group standing-view-selection">
  <button type="button" class="btn btn-default perGame active">Per Game</button>
  <button type="button" class="btn btn-default perUser">Per User</button>
</div>

<div class="allUsers"></div>
<div class="allGames"></div>

<script id="allUsersTemplate" type="text/x-handlebars-template">
	<div class="panel-group" id="accordion">
	{{#users}}
  		<div class="panel panel-default">
    		<div class="panel-heading">
      			<h4 class="panel-title">
        			<a data-toggle="collapse" data-parent="#accordion" href="#collapse{{@index}}">
            			{{username}}
        			</a>
      			</h4>
    		</div>
    		<div id="collapse{{@index}}" class="panel-collapse collapse">
      			<div class="panel-body">
					<table class="users table table-striped table-bordered">
					{{#scores}}
						<tr>
							<td>{{gameTeamOne gameId}}</td>
							<td>{{gameTeamTwo gameId}}</td>
				  			<td>{{teamOne}}</td>
				  			<td>{{teamTwo}}</td>
				  		</tr>
					{{/scores}}
					</table>
				</div>
			</div>
		</div>
	{{/users}}
	</div>
</script>

<script id="allGamesTemplate" type="text/x-handlebars-template">
	<table class="users table table-striped table-bordered">
		<tr>
			<th>Name</th>
			<th>Final Total</th>
			<th>gameOneTeamOne</th>
			<th>gameOneTeamTwo</th>
			<th>gameTwoTeamOne</th>
			<th>gameTwoTeamTwo</th>
			<th>gameThreeTeamOne</th>
			<th>gameThreeTeamTwo</th>
			<th>gameOneTeamOne</th>
			<th>gameOneTeamTwo</th>
			<th>gameTwoTeamOne</th>
			<th>gameTwoTeamTwo</th>
			<th>gameThreeTeamOne</th>
			<th>gameThreeTeamTwo</th>
		</tr>
		<tr>
			<td>Monster</td>
			<td>60</td>
			<td>1</td>
			<td>1</td>
			<td>2</td>
			<td>1</td>
			<td>3</td>
			<td>2</td>
			<td>1</td>
			<td>1</td>
			<td>2</td>
			<td>1</td>
			<td>3</td>
			<td>2</td>
		</tr>
	</table>
		
</script>

<script src="js/standings.js"></script>