.games{
	margin-top:30px;
	margin-left: 20px;
}

.logout{
	float: right;
	margin-right:20px;
}
.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.form-signin .signup{
	margin-top:20px;
	font-size:26px;
}
header{
	margin:10px;
}

.score input{
	width: 50px;
	text-align: center;
}
.score-completed{
	display: inline-block;
	margin-left: 30px;
	color: red;
}
.score-completed span{
	width: 50px;
}
.games li{
	margin-top:10px;
}
.column{
	margin-left: 5px;
}
.login, .signup{
	margin: 0 auto;
	text-align: center;
}
.login, .signup input{
	margin: 5px;
}
.login h1, .signup h1{
	margin: 20px;
}

.login .loginButton{
	margin-top: 20px;
}

.submitResults{
	margin: 20px;
}

.points-earned{
	margin-left: 20px;
	font-size: 20px;
	color: blue;
}
.team{
	width: 110px;
	display: inline-block;
	text-align:left;
}

.group .title{
	margin-top:40px;
	font-size: 24px;
}

.group{
	display:inline-block;
	width: 540px;
}

.error{
	color: red;
	font-size: 12px;
	text-align:center;
	margin: 0 auto;
}
#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}

.container {
  width: auto;
  max-width: 680px;
  padding: 0 15px;
}
.container .text-muted {
  margin: 20px 0;
}