.games{
	margin-top:30px;
	margin-left: 20px;
}

.logout{
	float: right;
	margin-right:20px;
}

header{
	margin:10px;
}

.score input{
	width: 50px;
	text-align: center;
}
.score-completed{
	display: inline-block;
	margin-left: 30px;
	color: red;
}
.score-completed span{
	width: 50px;
}
.games li{
	margin-top:10px;
}
.column{
	margin-left: 5px;
}
.login, .signup{
	margin: 0 auto;
	text-align: center;
}
.login, .signup input{
	margin: 5px;
}
.login h1, .signup h1{
	margin: 20px;
}

.login .loginButton{
	margin-top: 20px;
}

.submitResults{
	margin: 20px;
}

.points-earned{
	margin-left: 20px;
	font-size: 20px;
	color: blue;
}
.team{
	width: 110px;
	display: inline-block;
	text-align:left;
}

.group .title{
	margin-top:40px;
	font-size: 24px;
}

.group{
	display:inline-block;
	width: 540px;
}

.message{
	position: absolute;
	z-index: 1;
	left: 30%;
	color: red;
	font-size: 21px;
}